# I will try and merge the dataset from central bank of Kenya

In [192]:
import os
#os.chdir(("drive//My Drive//Central_Bank_dataset"))
os.listdir()

['Diaspora Remittances.csv',
 'Annual GDP.csv',
 'Central Government Expenditure  (Ksh Million).csv',
 'Inflation Rates.xlsx',
 'Foreign Trade Summary (Ksh Million).csv',
 'Key CBK Indicative Exchange Rates.csv',
 'Mobile Payments.csv',
 'Central bank.ipynb']

In [199]:
import pandas as pd
remit = pd.read_csv("Diaspora Remittances.csv")
gdp  =  pd.read_csv('Annual GDP.csv')
exp = pd.read_csv('Central Government Expenditure  (Ksh Million).csv')
inf = pd.read_excel('Inflation Rates.xlsx')
foreign = pd.read_csv('Foreign Trade Summary (Ksh Million).csv')
exc = pd.read_csv('Key CBK Indicative Exchange Rates.csv')
mpesa = pd.read_csv('Mobile Payments.csv')
remit.columns = [i if i in ["Year","Month"] else i+"_Remittances" for i in remit.columns]
remit = remit[["Year","Month","Total Remittances (USD '000)_Remittances"]]
remit.columns = ["Year","Month","Total_Remittances(USD)"]
remit.head()

   Year  Month Total_Remittances(USD)
0  2020      1             259,392.71
1  2020      2             218,991.93
2  2020      3             228,810.78
3  2020      4             208,217.73
4  2020      5             258,150.07

In [200]:

months = {'August':8, 'July':7,'June':6, 'May':5, 'April':4, 'March':3, 'February':2,
       'January':1, 'December':12, 'November':11, 'October':10, 'September':9}
print(months.get('October',"Unknown"))
exp["Month"] =[months.get(i,"Unknown") for i in  exp["Expenditures Month"]]
exp = exp[["Total Recurrent Expenditure","Development Expenditure","Total Expenditure","Year","Month"]]
exp.head()

10

   Total Recurrent Expenditure  Development Expenditure  ...  Year  Month
0                       216860                    36083  ...  2018      8
1                        89473                     2204  ...  2018      7
2                      1625786                   485673  ...  2018      6
3                      1716357                   489766  ...  2018      6
4                      1442871                   392982  ...  2018      5

[5 rows x 5 columns]

In [201]:
final = pd.merge(exp,remit,on = ["Year","Month"],how = "left")
final.head(),final.shape

(   Total Recurrent Expenditure  ...  Total_Remittances(USD)
 0                       216860  ...              215,556.38
 1                        89473  ...              215,268.48
 2                      1625786  ...              266,186.58
 3                      1716357  ...              266,186.58
 4                      1442871  ...              253,734.04

 [5 rows x 6 columns], (224, 6))

In [202]:
inf["Month"] = [months.get(i,"Unknown") for i in inf.Month]
inf= inf[['Year', 'Month', 'Annual Average Inflation']]
inf.columns = ['Year', 'Month', 'Inflation']
final = pd.merge(final,inf,on = ["Year","Month"],how = "left")
final.head(),final.shape

(   Total Recurrent Expenditure  ...  Inflation
 0                       216860  ...       4.63
 1                        89473  ...       4.95
 2                      1625786  ...       5.20
 3                      1716357  ...       5.20
 4                      1442871  ...       5.61

 [5 rows x 7 columns], (224, 7))

In [203]:
foreign1 = foreign[["Year","Month","Trade Balance","Total"]].copy()
foreign1["Month"] = [months.get(i,"unknown") for i in foreign.Month]
foreign1.columns = ["Year","Month","Trade_Balance","Total_Imports"]
final = pd.merge(final.copy(),foreign1.copy(),on = ["Year","Month"],how = "left")
final.head(),final.shape
final.head()

   Total Recurrent Expenditure  ...  Total_Imports
0                       216860  ...     149,822.17
1                        89473  ...     152,706.62
2                      1625786  ...     142,525.14
3                      1716357  ...     142,525.14
4                      1442871  ...     168,020.10

[5 rows x 9 columns]

In [205]:
final1 = pd.merge(final,gdp,on ="Year",how = "left")
print(final1.columns)
final1.head()

Index(['Total Recurrent Expenditure', 'Development Expenditure',
       'Total Expenditure', 'Year', 'Month', 'Total_Remittances(USD)',
       'Inflation', 'Trade_Balance', 'Total_Imports',
       'Nominal GDP prices (Ksh Million)', 'Annual GDP growth (%)',
       'Real GDP prices (Ksh Million)'],
      dtype='object')

   Total Recurrent Expenditure  ...  Real GDP prices (Ksh Million)
0                       216860  ...                      4,792,174
1                        89473  ...                      4,792,174
2                      1625786  ...                      4,792,174
3                      1716357  ...                      4,792,174
4                      1442871  ...                      4,792,174

[5 rows x 12 columns]

In [207]:
final1 =final1[['Year', 'Month','Total Recurrent Expenditure', 'Development Expenditure',
       'Total Expenditure', 'Total_Remittances(USD)',
       'Inflation', 'Trade_Balance', 'Total_Imports',
       'Nominal GDP prices (Ksh Million)', 'Annual GDP growth (%)',
       'Real GDP prices (Ksh Million)']]


final1.head()

   Year  Month  ...  Annual GDP growth (%)  Real GDP prices (Ksh Million)
0  2018      8  ...                    6.3                      4,792,174
1  2018      7  ...                    6.3                      4,792,174
2  2018      6  ...                    6.3                      4,792,174
3  2018      6  ...                    6.3                      4,792,174
4  2018      5  ...                    6.3                      4,792,174

[5 rows x 12 columns]

In [211]:
final_df = final1.sort_values(["Year","Month"],ascending=False).copy()
print(final_df.shape)
final_df.head()

(224, 12)

   Year  Month  ...  Annual GDP growth (%)  Real GDP prices (Ksh Million)
0  2018      8  ...                    6.3                      4,792,174
1  2018      7  ...                    6.3                      4,792,174
2  2018      6  ...                    6.3                      4,792,174
3  2018      6  ...                    6.3                      4,792,174
4  2018      5  ...                    6.3                      4,792,174

[5 rows x 12 columns]

In [212]:
final_df.to_csv("final_merged_data.csv")

In [227]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224 entries, 0 to 223
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Year                              224 non-null    int64
 1   Month                             224 non-null    int64
 2   Total Recurrent Expenditure       224 non-null    int64
 3   Development Expenditure           224 non-null    int64
 4   Total Expenditure                 224 non-null    int64
 5   Total_Remittances(USD)            178 non-null    object
 6   Inflation                         166 non-null    float64
 7   Trade_Balance                     222 non-null    object
 8   Total_Imports                     222 non-null    object
 9   Nominal GDP prices (Ksh Million)  214 non-null    object
 10  Annual GDP growth (%)             214 non-null    float64
 11  Real GDP prices (Ksh Million)     214 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 22.8+ KB